<div class="container">
  <div class="show-card">
    <h3><%= @script.name %></h3>
    <%= link_to script_path(@script), method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fa fa-trash destroy_dose"></i>
    <% end %>
  </div>


  <div>

    <div class="menu-bar">
      <h3> scenes </h3>
      <h3> roles </h3>
      <h3> cast </h3>
      <h3> costumes </h3>
    </div>

    <div>
      <% @scenes.each do |scene| %>
        <div class="scene-header">
          <%= scene.number %>: <%= link_to script_scene_path(@script, scene) do %> <%= scene.name %>
          <% end %>
          <%= link_to "Update", edit_scene_path(scene) %>
        </div>
        <p><%= scene.body.to_plain_text.truncate(50) %></p>
    <% end %>
    </div>
  </div>

  <hr>
  <%= link_to 'add scene', new_script_scene_path(@script), class: 'btn btn-danger' %>
  <%= link_to "back", scripts_path  %>
</div>

