<div class="container">
  <div class="show-card">
    <h3><%= @script.name %></h3>
    <%= link_to script_path(@script), method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fa fa-trash destroy_dose"></i>
    <% end %>
  </div>


  <div>

    <div class="menu-bar">
      <h3> scenes </h3>
      <%= link_to "roles", script_roles_path(@script)  %>
      <h3> cast </h3>
      <h3> costumes </h3>
    </div>

  <%= render partial: "scene", collection: @scenes %>
  </div>

  <hr>
  <%= link_to 'add scene', new_script_scene_path(@script), class: 'btn btn-danger' %>
  <%= link_to "back", scripts_path  %>
</div>

