    <div class="my-title">
      <h1>Roles</h1>
    </div>

  <div class="my-container">
    <div class="role-cards">
      <% @script.roles.each do |role| %>
          <div class="role-card">
            <h2> <%= role.name %></h2>
            <%= link_to script_path(@script) do %>
              <i class="fa fa-plus"></i>
            <% end %>
            <% role.scenes.all.each do |scene| %>
              <h2><%= scene.number %></h2>&nbsp
            <% end %>
          </div>
      <% end %>
    </div>
  </div>

  <hr>
  <%= link_to 'add role', new_script_role_path(@script), class: 'btn btn-danger' %>
  <%= link_to "back", script_path(@script)  %>
